/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.gallery {
  max-width: 1440px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px 24px;
  margin: 24px auto;
  padding: 0;
  background-color: #fff;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.gallery-image {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 250ms ease;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.main-title {
  margin-bottom: 66px;
}

.feedback-form {
 font-family: "Montserrat", sans-serif;
  width: 408px;
  padding: 24px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  color: #2e2f42;
}

.feedback-form label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
 height: 40px;
  font-size: 14px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  margin-bottom: 8px;
  transition: border-color 0.2s ease;
}

.feedback-form textarea {
  height: 80px;
  margin-bottom: 16px;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}

.feedback-form button {
  display: flex;
  justify-content: center;
  background-color: #4e75ff;
  width: 95px;
   height: 40px;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 0.2s ease;
  
}

.feedback-form button:hover {
  background-color: #3b5ae0;
}